[Unit]
Description=Fortinet authentication
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/bin/fnauth.py
Restart=always
RestartSec=900

[Install]
WantedBy=multi-user.target
